/*
style.css
Module 11 Assignment 
Name: Brittany Kyncl
Date: 5.11.23
Course: CSD360
styling for mod_11.html
*/
body {
    background: #181717;
}
.wrapper {
    margin: 40px auto;
    max-width: 1500px;
    min-height: 70vh;
    padding: 30px;
    overflow: hidden;
}
.wrapper .filter {
    display: flex;
    justify-content: center;

}
.filter .items {
    display: flex;
    max-width: 850px;
    width: 100%;
    justify-content: space-between;
}
.filter .items .item {
    padding: 5px 35px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f5f2f3;
    border: 2px solid #f8f7f8;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}
.filter .items .active,
.filter .items .item:hover {
    color:#0f0f0f;
    background-color: #f7f4f5;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.gallery .image {
    width: calc(100% / 4);
}
.gallery .image.hide {
    display: none;
}
.gallery .image.show {
    animation-name: animateIn, animateFade;
    animation-duration: 1s, 2s;
    animation-timing-function: ease;
    animation-fill-mode: both;

}
@keyframes animateIn {
    0% {
        /* transform: scale(0.5); */
        transform: translate(100%, 20%);
    }
    100% {
        /* transform: scale(1); */
        transform: translate(0, 0);
    }
}
@keyframes animateFade {
    0% {
        /* transform: scale(0.5); */
        opacity: 0;
    }
    100% {
        /* transform: scale(1); */
        opacity: 1;
    }
}
.gallery .image span {
    display: flex;
    width: 100%;
    padding: 10px;
}
.gallery .image img {
    width: 100%;
    vertical-align: middle;
    border: 3px solid #fff;
    border-radius: 3px;
    transition: all .3s ease;
}
.gallery .image:hover img {
    transform: scale(1.05);
}
@media(max-width: 1000px) {
    .gallery .image {
        width: calc(100% / 3);
    }
}
@media(max-width: 700px) {
    .gallery .image {
        width: calc(100% / 2);
    }
}
@media(max-width: 950px) {
    .filter .items {
        max-width: 670px;
    }
    .filter .items .item {
        padding: 5px 25px;
        font-size: 16px;
    }
}
@media(max-width: 650px) {
    .filter .items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .filter .items .item {
        margin: 5px;
    }
}
@media(max-width: 500px) {
    .gallery .image {
        width: 100%;
    }
}
.preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
    background-color: rgb(56, 58, 58);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.726);
    border-radius: 3px;
    width: 45%;
    padding: 0px 0px 10px;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}
.preview.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .2s ease;
    animation-name: animateFade;
    animation-duration: .4s;
    animation-timing-function: ease;
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.527);
    display: none;
}
.shadow.show {
    display: block;
    animation-name: animateFade;
    animation-duration: .4s;
    animation-timing-function: ease;
}
.preview .details {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
.preview .details .title {
    display: flex;
    margin-left: 10px;
}
.details .title .info {
    margin-left: 10px;
}
.details .icon {
    cursor: pointer;
}
.details .icon:hover {
    transform: scale(1.1);
}

.preview  .image-box {
    display: flex;
    justify-content: center;
    width: 100%;
}
.image-box img {
    width: 60%;
    border: 2px solid #6d6a6a;
}
.image-box .small img {
    display: block;
    align-items: center;
}
.small {
    width: 15.3%;
}
.small img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s ease;
}
.small img:hover {
    position: relative;
    z-index: 1;
    filter: brightness(80%);
}
@media(max-width: 1600px) {
    .preview{
        width: 55%;
    }
}

@media(max-width: 1200px) {
    .preview {
        width: 65%;
    }
}
@media(max-width: 965px) {
    .preview {
        width: 70%;
    }
}
@media(max-width: 550px) {
    .preview {
        width: 90%;
    }
    .preview .details{
        font-size: 14px;
    }
}
#footer {
    position: relative;
}

